* {
  box-sizing: border-box;
  font-size: 1.125rem;
}

form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1.4rem;
  padding: .5rem;
}

p, table{
  width: 100%;
  padding: .5rem;
}

thead{
  font-weight: bolder;
  background-color: #222288;
  color: white;
  padding: .5rem;
}
h1{
  font-size: 4vw;
  padding: .5rem;
}

tr {
  width:inherit;
  display:none;
}